/* Provide sufficient contrast against white background */
body {
    background-color: #cdd1d4;
}

.container .row, .rounded {
    background-color: white;
}

a {
    color: #0366d6;
}

    a.ms-2 {
        color: rgb(255, 193, 7) !important;
    }

code {
    color: #E01A76;
}

.row.rounded {
    margin-top: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.col.text-center {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.col.active {
    border-bottom: 3px solid orange;
    font-weight: 600;
}

.fs-8 {
    font-size: 0.8em !important;
}

.tab {
    cursor: pointer;
}

    .tab:first-child:hover {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .tab:last-child:hover {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .tab:hover {
        background-color: #eeeeee;
        transition: background-color linear 0.2s;
    }
